* {
    margin: 0;
    padding: 0;
}
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes myAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
        background-color: blue;
    }
    100% {
        transform: scale(1);
    }
}
